<header>
    <div class="header"> 
        <nav>
            <img src="images/logo.png">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
        <div class="text-box">
            <h1> Bienvenido a mi pagina web</h1>
            <p> Aqui encontraras todas las nuevas marcas y vestidos de calidad del pais <br>con un descuento del 60% por cada unidad y comprandote dos productos <br>te llevas uno de regalo, espero que lo disfrutes</p>
            <a href="#">Shop Now </a>
        </div>
        <div class="user-box">
            <img src="images/user.png">
        </div>
        
       

    </div>
    
</header>